Package: passwall
Section: utils
Priority: optional
Architecture: amd64
Depends: gconf-service, gconf2, gvfs-bin, libc6, libcap2, libgcrypt11 | libgcrypt20, libgtk2.0-0, libnotify4, libnss3, libudev0 | libudev1, libxtst6, xdg-utils
Recommends: lsb-release
Suggests: gir1.2-gnomekeyring-1.0, libgnome-keyring0
Maintainer: Baran Sekin <me@baransekin.com>
Description: Passwall is a password management software
